.btn {
    &-secondary {
        background-color: #232020;
    }

    &-whatsapp {
        display: flex;
        background-color: #2BB741;
        text-align: left;
        align-items: center;
        width: auto;
        gap: .75rem;
        padding: .75rem 1.3rem;
        border: none;
        box-shadow: none;
        color: $white;

        @include transition(.12s);

        &:hover, 
        &:active, 
        &:hover:active {
            background-color: shade-color(#2BB741, 5%);
            color: $white;
        }
    }

    &-group-cta {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: .5rem;
        margin: 2rem 0 0;
    }

    &-cta {
        display: flex;
        align-items: center;
        gap: .75rem;
        background-color: tint-color($dark, 5%);
        color: tint-color($dark, 55%);
        border: 2px solid tint-color($dark, 35%);
        padding: 1.3rem 2rem;
        border-radius: 0;
        font-size: 1.4rem;
        font-weight: 500;

        [class^="fa-"] {
            color: tint-color($dark, 65%);
        }

        &:hover {
            color: $white;
            border-color: $white;
            background-color: inherit;
        }
    }
}