body {
    position: relative;

    &::before {
        content: " ";
        position: absolute;
        background-image: url(/app/themes/understrap-child/src/assets/horse-eye.png);
        background-repeat: no-repeat;
        background-position: top right;
        background-blend-mode: luminosity;
        opacity: .8;

        height: 100dvh;
        width: 100vw;
        right: 0;
        top: 0;
        z-index: -100;
    }
}

#page {
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
}

#content {
    position: relative;
}

#page-wrapper {
    flex-grow: 1;
}

.content-area {
    h2 {
        position: relative;
        margin-bottom: 2rem;

        // &::before {
        //     content: " ";
        //     position: absolute;
        //     background-image: url(/app/themes/understrap-child/src/assets/underline.svg);
        //     background-repeat: no-repeat;
        //     height: 30px;
        //     width: 200px;
        //     bottom: -40px;
        //     left: 0px;
        // }
    }

    p {
        line-height: 1.8rem;
    }

    &-points {
        background-color: lighten($primary, 40);
        padding: 2rem 0;
    }
}

.container-image-full {
    position: relative;
    background-color: tint-color($primary, 0%);
    // @include gradient-x(#4CDBB6, #F9F871);
    
    // &::before {
    //     position: absolute;
    //     display: block;
    //     content: " ";
    //     background-color: transparent;
    //     background-image: url(/app/themes/understrap-child/src/assets/grass-pattern.png);
    //     background-size: 800px;
    //     width: 100%;
    //     height: 50px;
    //     top: -40px;
    //     left: 0;
    // }

    .container {
        overflow: hidden;
    }

    #container-image {
        background-color: rgba(tint-color($primary, 80%), .7);
        background-blend-mode: luminosity;
        position: relative;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        z-index: 4;
    }
}

.container-shape {
    position: relative;
    overflow: hidden;
    z-index: 0;

    &::before,
    &::after {
        background-color: $body-bg;
        position: absolute;
        content: " ";
        bottom: -60px;
        height: 120px;
        width: 120px;
        border-radius: 50%;
    }

    &::before {
        left: -60px;
    }

    &::after {
        right: -60px;
    }
}

.shape-seperator {
    &-header {
        margin-bottom: 2rem;
        color: tint-color($primary, 80%);
    }
}

#thumbnail {
    position: absolute;
    bottom: -3rem;
    right: -15%;
    z-index: -1;
}

.info-box {
    background-color: darken($primary, 20);
    padding: 1.5rem;
    border-radius: $border-radius;
    color: $white;

    h3 {
        font-size: 1.3rem;
    }
}

.contact-options {
    gap: 2rem;

    a {
        position: relative;
        display: flex;
        gap: 1rem;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        color: $primary;
        border-radius: $border-radius;
        border: 1px dashed $white;
        padding: 2rem 1.5rem;
        font-size: 1.4rem;
        font-weight: 200;

        @include transition(.13s);

        &:hover {
            color: $white;
        }

        // &::after {
        //     position: absolute;
        //     content: "";
        //     top: .5rem;
        //     left: .5rem;
        //     height: 100%;
        //     width: 100%;
        //     border: 1px dashed $gray-800;
        //     border-radius: $border-radius;
        //     z-index: -1;
        // }
    }
}

.bg-primary {
    a {
        color: shade-color($primary, 45%);
        text-decoration: none;
        border-bottom: 1px dashed shade-color($primary, 45%);
    }
}

.bg-medium {
    background-color: tint-color($dark, 10%);
    color: color-contrast($dark);
}