body {
    position: relative;

    &::before {
        content: " ";
        position: absolute;
        background-image: url(/app/themes/understrap-child/src/assets/horse-eye.png);
        background-repeat: no-repeat;
        background-position: top right;
        background-blend-mode: luminosity;
        opacity: .8;

        height: 100dvh;
        width: 100vw;
        right: 0;
        top: 0;
        z-index: -100;
    }
}

#page {
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
}

#content {
    position: relative;
}

#page-wrapper {
    flex-grow: 1;
}

.content-area {
    h2 {
        position: relative;
        margin-bottom: 3rem;

        &::before {
            content: " ";
            position: absolute;
            background-image: url(/app/themes/understrap-child/src/assets/underline.svg);
            background-repeat: no-repeat;
            height: 30px;
            width: 200px;
            bottom: -40px;
            left: 0px;
        }
    }

    p {
        line-height: 1.8rem;
    }

    &-points {
        background-color: lighten($primary, 40);
        padding: 2rem 0;
    }
}

.container-image-full {
    position: relative;
    background-color: $primary;
    // @include gradient-x(#4CDBB6, #F9F871);
    
    &::before {
        position: absolute;
        display: block;
        content: " ";
        background-color: transparent;
        background-image: url(/app/themes/understrap-child/src/assets/grass-pattern.png);
        background-size: 800px;
        width: 100%;
        height: 50px;
        top: -40px;
        left: 0;
    }

    .container {
        overflow: hidden;
    }

    #container-image {
        position: relative;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        z-index: 4;
    }
}

.container-shape {
    position: relative;
    overflow: hidden;

    &::before,
    &::after {
        background-color: $body-bg;
        position: absolute;
        content: " ";
        bottom: -60px;
        height: 120px;
        width: 120px;
        border-radius: 50%;
    }

    &::before {
        left: -60px;
    }

    &::after {
        right: -60px;
    }
}

.shape-seperator {
    position: relative;
    z-index: 5;
    color: $white;
    padding: 2rem;

    &::after {
        background-color: $primary;
        position: absolute;
        content: " ";
        height: 100%;
        width: calc(100% + 80px);
        left: -40px;
        top: 0;
        transform: skew(-8deg);
        z-index: -1;
        border-right: 10px solid lighten($primary, 20);
    }

    &-header {
        margin-bottom: 2rem;
        font-style: italic;
    }
}

#thumbnail {
    position: absolute;
    bottom: -3rem;
    right: -15%;
    z-index: -1;
}

.info-box {
    background-color: darken($primary, 20);
    padding: 1.5rem;
    border-radius: $border-radius;
    color: $white;

    h3 {
        font-size: 1.3rem;
    }
}

.contact-options {
    gap: 1rem;

    a {
        background-color: $primary;
        display: flex;
        gap: 1rem;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        color: darken($primary, 20);
        padding: 3rem 1.5rem;
        border-radius: $border-radius;
        font-size: 1.5rem;
        font-weight: bold;

        &:hover {
            color: $white;
        }
    }
}

.bg-primary {
    a {
        color: shade-color($primary, 45%);
        text-decoration: none;
        border-bottom: 1px dashed shade-color($primary, 45%);
    }
}