.container {
    &-featured {
        background-color: $primary;
        color: $body-bg;

        @extend .py-5;

        h3 {
            margin-bottom: 2rem;
            color: shade-color($primary, 25%)
        }
    }

    &-footer {
        background-color: tint-color($dark, 10%);
        color: color-contrast($dark);

        @extend .py-5;
    }
}