.npc-list,
.npc-list li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.npc-list {
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    font-weight: 500;
    gap: 1rem;

    li {
        position: relative;
        margin-left: 4rem;
        display: flex;
        align-items: center;
        gap: .75rem;
    }

    li::before,
    li::after {
        display: inline-block;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        font: var(--fa-font-regular);
        position: absolute;
        left: -2.5rem;
    }

    // li::before {
    //     content: "\f00c";
    //     color: shade-color($white, 5%);
    // }

    li::after {
        content: "\e404";
    }
}

ul:not(.navbar-nav, .dropdown, .dropdown-menu, .menu, .npc-list, .nav) {
    list-style: none;

    li {
        position: relative;
        display: flex;
        align-items: center;
        padding-left: 1rem;

        &::before,
        &::after {
            position: absolute;
            display: inline-block;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            font: var(--fa-font-duotone);
            left: -1rem;
            margin-top: 3px;
            transform: rotate(45deg);
        }

        &::before {
            content: "\f076";
            color: $primary;
        }

        &::after {
            content: "\f076\f076";
            color: tint-color($primary, 30%);
        }
    }
}