#main-nav {
    background-color: $white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    //box-shadow: 0 0 .75rem -.3rem $gray-700;
    border-bottom: 5px solid $gray-200;

    --#{$prefix}navbar-padding-y: .75rem;
    --#{$prefix}navbar-padding-x: .75rem;
    
    --#{$prefix}navbar-nav-link-padding-x: 1.35rem;
    --#{$prefix}navbar-nav-link-padding-y: 1rem;
}

// Fix position if admin bar is visible
.admin-bar {
    #main-nav {
        top: 32px;
    }

    .offcanvas {
        top: 32px;
    }
}

.nav {
    &-item {
        font-weight: 500;

        &.active .nav-link {
            // background-color: tint-color($primary, 60%);
            // border-radius: $border-radius;
            //color: shade-color($primary, 50%);
            color: $primary !important;
        }
    }

    &-link {
        color: $gray-800;
        border-bottom: 0;
    }
}

#mobile-menu {
    text-align: right;

    .nav-link {
        justify-content: flex-end;
        font-family: $font-family-serif;
        color: tint-color($dark, 45%) !important;
    }

    .nav-item {
        &.active {
            .nav-link {
                color: $primary !important;
            }
        }
    }

    .dropdown-menu {
        --#{$prefix}dropdown-zindex: 1000;
        --#{$prefix}dropdown-min-width: auto;
        --#{$prefix}dropdown-padding-x: 0;
        --#{$prefix}dropdown-padding-y: 0;
        --#{$prefix}dropdown-spacer: 0.125rem;
        --#{$prefix}dropdown-font-size: #{$font-size-base};
        --#{$prefix}dropdown-color: #{tint-color($dark, 45%)};
        --#{$prefix}dropdown-bg: transparent;
        --#{$prefix}dropdown-border-color: transparent;
        --#{$prefix}dropdown-border-radius: 0;
        --#{$prefix}dropdown-border-width: 1px;
        --#{$prefix}dropdown-inner-border-radius: -1px;
        --#{$prefix}dropdown-divider-bg: transparent;
        --#{$prefix}dropdown-divider-margin-y: 0.5rem;
        --#{$prefix}dropdown-box-shadow: none;
        --#{$prefix}dropdown-link-hover-color: #{tint-color($dark, 55%)};
        --#{$prefix}dropdown-link-hover-bg: transparent;
        --#{$prefix}dropdown-link-active-color: #2bcec3;
        --#{$prefix}dropdown-link-active-bg: transparent;
        --#{$prefix}dropdown-link-disabled-color: #777b7d;
        --#{$prefix}dropdown-item-padding-x: 1.5rem;
        --#{$prefix}dropdown-item-padding-y: 1rem;
        --#{$prefix}dropdown-header-color: #616568;
        --#{$prefix}dropdown-header-padding-x: 1.5rem;
        --#{$prefix}dropdown-header-padding-y: 0.5rem;
    }

    .dropdown-item {
        font-weight: 500;
        text-transform: none;
        text-align: right;
        
        --#{$prefix}dropdown-link-color: #{tint-color($dark, 55%)};
    }

    .dropdown-menu {
        .nav-item {
            &.active {
                .dropdown-item {
                    color: $white !important;
                }
            }
        }
    }
}