.offcanvas {
    background-color: $dark;

    --#{$prefix}offcanvas-width: 380px;

    &-body {
        padding: 6rem 3rem 3rem;
    }
}

a.offcanvas-close {
    display: block;
    color: $body-color;
    border-bottom: none;
    padding: 1rem;
    font-size: 3rem;
    margin-top: 1rem;
}

@include media-breakpoint-down(md) {  
    .offcanvas {
        --#{$prefix}offcanvas-width: 100%;
    }
}