#left-sidebar {
    position: relative;

    &::after {
        position: absolute;
        content: " ";
        height: 100%;
        width: 1px;
        border-right: 1px solid $gray-300;
        top: 0;
        right: -1.5rem;
    }
}

#sidebar-nav {
    display: flex;
    flex-direction: column;
    gap: .5rem;

    a {
        display: block;
        text-decoration: none;
        color: $dark;
        padding: 1rem 1.35rem;
        border-bottom: none;
    }

    .page_item {
        background-color: $body-bg;
        border-radius: $border-radius;
    }

    .current_page_item {
        background-color: $primary;

        a {
            color: $body-bg;
            font-weight: 500;
        }
    }
}

@include media-breakpoint-down(lg) {  
    #left-sidebar {
        &::after {
            display: none;
        }
    }
}