#left-sidebar {
    // ss
}

#sidebar-nav {
    display: flex;
    flex-direction: column;
    gap: .5rem;

    a {
        display: block;
        text-decoration: none;
        color: $dark;
        padding: 1rem 1.35rem;
        border-bottom: none;
    }

    .page_item {
        background-color: tint-color($dark, 81%);
        border-radius: $border-radius;
    }

    .current_page_item {
        background-color: $primary;

        a {
            color: $body-bg;
            font-weight: 500;
        }
    }
}